{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main>
    <section class="section">
        <div class="container">

            {% include "../components/message.html" with message=message %}

            <div class="has-text-centered">
                <h1 class="title is-1">Создать карточку клиента</h1>
            </div>

            <br>

            <nav class="breadcrumb is-centered is-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Создать карточку клиента</a></li>
                </ul>
            </nav>

            <form method="POST">
                {% csrf_token %}
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Логин</label>
                            <div class="control">
                              {% render_field form.username class="input" style="width: 400px"%}
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Электронная почта</label>
                            <div class="control">
                              {% render_field form.email class="input" autocomplete="current-password" style="width: 400px"%}
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Пароль</label>
                            <div class="control">
                              {% render_field form.password1 class="input" type="password" autocomplete="current-password" style="width: 400px"%}
                            </div>
                          </div>
                          <div class="field">
                            <label class="label">Подтвердите пароль</label>
                            <div class="control">
                              {% render_field form.password2 class="input" type="password" autocomplete="current-password" style="width: 400px"%}
                            </div>
                          </div>
                    </div>
                </div>
                
                <br />
                <button class="button is-medium is-wine" type="submit">
                  Зарегистрироваться
                </button>
              </form>
        </div>
    </section>
</main>
{% endblock %}