{% extends "base.html" %}
{% block content %}
<main>
  <section class="section">
    <div class="container">
      {% include "components/message.html" with message=message %}

      <div class="has-text-centered">
        <h1 class="title is-1">{{title}}</h1>
        <br>
        <nav class="breadcrumb is-centered is-medium" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'profile' %}">Профиль</a></li>
            <li class="is-active"><a href="#" aria-current="page">Все карточки для редакции</a></li>
          </ul>
        </nav>
      </div>
      <br>
      {% if cabinets %}
      <div class="has-text-centered">
        <h1 class="title is-3">Шкафы</h1>
    </div>
        
    <br>

      {% for chunks in cabinets %}
            <div class="row columns is-multiline">
                {% for cabinet in chunks %}
                <div class="column is-4">
                    <a href="{% url 'cabinet_show' cabinet.id %}">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="title is-4 has-text-centered" style="height: 30px">{{cabinet}}</h4>
                            <div class="buttons is-centered">
                                <a href="{% url 'cabinet_edit' cabinet.id %}" class="button is-warning">Редактировать</a>
                                <a href="{% url 'cabinet_delete' cabinet.id %}" class="button is-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <br>
            <br>
        {% endif %}
        {% if shelfs %}
      <div class="has-text-centered">
        <h1 class="title is-3">Полки</h1>
    </div>
        
    <br>

    {% for chunks in shelfs %}
            <div class="row columns is-multiline">
                {% for shelf in chunks %}
                <div class="column is-4 is-mobile">
                    <a href="{% url 'show_shelf' shelf.id %}">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="title is-4 has-text-centered" style="height: 30px">{{shelf.get_title}}</h4>
                            <div class="buttons is-centered">
                                <a href="{% url 'shelf_edit' shelf.id %}" class="button is-warning">Редактировать</a>
                                <a href="{% url 'shelf_delete' shelf.id %}" class="button is-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        <br>
        <br>
    {% endif %}
    {% if wines %}
      <div class="has-text-centered">
        <h1 class="title is-3">Вина</h1>
    </div>
        
    <br>

      {% for chunks in wines %}
      <div class="row columns is-multiline">
        {% for wine in chunks %}
        <div class="column is-4">
          <a href="{% url 'show_wine' wine.wine_id %}">
          <div class="card">
            <div class="card-content">
              <h4 class="title is-4 has-text-centered" style="height: 54px">{{wine}}</h4>
              <br>
              <div class="buttons is-centered">
                <a href="{% url 'wine_edit' wine.wine_id%}" class="button is-warning">Редактировать</a>
                <a href="{% url 'wine_delete' wine.wine_id %}" class="button is-danger">Удалить</a>
              </div>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    {% endif %}  
    </div>
  </section>
</main>

{% endblock %}