{% load static %}
{% load templatetagname %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Винный погреб</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

      </style>
</head>

<body>
  <!-- Бургер меню -->
  <div class="container" id="navbar-container">
    <nav class="navbar" role="navigation" aria-label="main navigation" id="main_navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
          <img src="{% static 'logo.png' %}" />
        </a>
      </div>
      <input type="checkbox" id="navbar-burger-toggle" class="navbar-burger-toggle is-hidden">
      <label for="navbar-burger-toggle" class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </label>

      <!-- Навигационная панель сайта(шапка) -->
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start"></div>

        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item" href="{% url 'home' %}"> Главная </a>
            <div class="buttons">
              {% if user.is_authenticated %}
              {% if not request.user|has_group:"Clients" %} 
              <div class="dropdown">
                <div class="dropdown-trigger">
                  <a class="button is-wine" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>{{ user }}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="{% url 'profile' %}" class="dropdown-item">
                      Профиль
                    </a>
                    <a href="{% url 'wine_create' %}" class="dropdown-item">
                      Добавить вина
                    </a>
                    <a href="{% url 'shelf_create' %}" class="dropdown-item">
                      Создать полку
                    </a>
                    <a href="{% url 'cabinet_create' %}" class="dropdown-item">
                      Создать шкаф
                    </a>
                    <hr class="dropdown-divider">
                    <a href="{% url 'logout' %}?next={{ request.path | urlencode }}" class="dropdown-item">
                      Выйти
                    </a>
                  </div>
                </div>
              </div>
              {% else %}
              <div class="dropdown">
                <div class="dropdown-trigger">
                  <a class="button is-wine" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>{{ user }}</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a href="{% url 'profile' %}" class="dropdown-item">
                      Профиль
                    </a>
                    <hr class="dropdown-divider">
                    <a href="{% url 'logout' %}?next={{ request.path | urlencode }}" class="dropdown-item">
                      Выйти
                    </a>
                  </div>
                </div>
              </div>
              {% endif %}
              {% else %}
              <a href="{% url 'login' %}?next={% firstof request.path '/' %}" class="button is-wine">
                <strong>Войти в профиль</strong>
              </a>
              {% endif %}
              <div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  {% block content %}
  {% endblock %}

  <!-- Футер(подвал сайта) -->
  <footer class="footer-secondary">
    <div class="content has-text-centered">
      <p>
        <p class="mb-1">Веб-приложение для винного погреба от bunsanandme</p>
        <p class="mb-0">Если что-то не работает, <a href="tg://resolve?domain=bunsanandme">напишите мне</a>.</p>
      </p>
    </div>
  </footer>
  </section>
  <script src="{% static 'main.js'%}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
    integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>

  
</body>

</html>