{% extends "base.html" %}
{% block content %}
<main>
    <section class="section">
      <div class="container">
        <div class="has-text-centered" >
          <h1 class="title is-1">{{shelf}}</h1>
          <h4 class="subtitle">
            {{shelf.description}}
          </h4>
          
        </div>
        <br>
        {% if user.is_authenticated %}
            <div class="notification">
              <div class="buttons">
                <a href="{% url 'shelf_edit' shelf.id %} "class="button is-warning is-medium">
                    <span>Редактировать</span>
                </a>
                {% if shelf.id != 8 %}
                <a class="button is-danger is-medium js-modal-trigger" data-target="modal-js-example">
                  <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                  <span>Удалить</span>
                {% endif %}
                </a>
              </div>
            </div>
        {% endif %}

        <nav class="breadcrumb is-centered is-medium" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{shelf.title}}</a></li>
          </ul>
        </nav>

        {% if messages %}
            {% for message in messages %}
            <article {% if message.tags %} class="message is-{{ message.tags }}"{% endif %}>
                <div class="message-header">
                <p>{{message}}</p>
                <button class="delete" aria-label="delete" onclick="deleteMessage(event)"></button>
                </div>
            </article>
            {% endfor %}
        {% endif %}
        <br />
        {% for chunks in page_obj.object_list %}
        <div class="row columns is-multiline">
            {% for wine in chunks %}
            <div class="column is-4 is-mobile">
            <a href="{% url 'show_wine' wine.wine_id%}">  
            <div class="card" style="height: 500px">
              <div class="card-content">
                <div class="has-text-centered">
                  <img class="product-image" src="{{wine.wine_image.url}}" />
                </div>
                <h4 class="title is-4 has-text-centered" >{{wine}}</h3>
                <br>
              </div>
              </div>
            </a>
              </div>
              {% endfor %}    
      </div>
      {% endfor %}
      <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {%if page_obj.has_previous %}
            <a class="pagination-previous" href="?page={{page_obj.previous_page_number}}">Пред. страница</a>
        {% endif %}
        {%if page_obj.has_next %}
            <a class="pagination-next" href="?page={{page_obj.next_page_number}}">След. страница</a>
        {% endif %}
        <ul class="pagination-list">
          <a class="pagination-link is-current is-wine" aria-label="Page 1" aria-current="page" style="background-color: #bb0000;">{{page_obj.number}}</a>
      </nav>
      </div> 
    </section>
</main>

<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="block">
          <p> Вы действительно хотите удалить эту полку?</p>
      </div>
      <div class="buttons">
          <a href="{% url 'shelf_delete' shelf.id %}" class="button is-danger" >Да, удалить</a>
          <button class="button" onclick="closeWindow($('#modal-js-example'))"> Отмена </button>
      </div>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock %}