{% extends "base.html" %}
{% block content %}

<div class="container">
    <section class="section">
        <div class="container is-fluid">
        {% if user.is_authenticated %}
            <div class="notification">
                <a href="{% url 'wine_edit' wine.wine_id %}"class="button is-warning is-medium">
                    <!-- <span class="icon is-small">
                    <i class="fa-regular fa-pen-to-square"></i>
                    </span> -->
                    <span>Редактировать</span>
                </a>
                <a class="button is-danger is-medium js-modal-trigger" data-target="modal-js-example">
                    <span class="icon is-small">
                        <i class="fas fa-times"></i>
                      </span>
                    <span>Удалить</span>
                </a>
            </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
            <article {% if message.tags %} class="message is-{{ message.tags }}"{% endif %}>
                <div class="message-header">
                <p>{{message}}</p>
                <button class="delete" aria-label="delete" onclick="deleteMessage(event)"></button>
                </div>
            </article>
            {% endfor %}
        {% endif %}  
        
            <div class="columns is-vcentered is-multiline">
                <div class="column is-6-tablet is-3-desktop">
                    <h1 class="is-size-3-mobile is-size-1-desktop title" style="width: 375px">{{wine.wine_name}}</h1>
                    <br>
                    <h2 class="is-size-3-mobile is-size-2-desktop subtitle">{{wine.winery}}</h2>
                    <p>{{wine.taste}}</p>
                </div>
                <div class="column is-6-tablet is-5-desktop has-text-centered">
                    <img src="{{wine.wine_image.url}}" alt="Бутылка вина" class="px-6">
                </div>  
                <div class="column is-12-tablet is-4-desktop">
                    <div class="is-size-4 mb-4">Виноград сорта "{{wine.grape}}"</div>
                    <p class="mb-4">{{wine.fragrance}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-8 is-variable">
                <div class="column is-7-tablet">
                    <!-- tabbed content -->
                    <div class="tabs is-boxed">
                        <ul>
                            <li class="is-active" data-target="product-details">
                                <a style="color: #b00000"><b>Подробности</b></a>
                            </li>
                            <li data-target="delivery-info">
                                <a style="color:#b00000"><b>Интересные факты</b></a>
                            </li>
                        </ul>
                    </div>
                    <div class="px-2" id="tab-content">
                        <div id="product-details">
                            <h2 class="is-size-5 title">Год урожая</h2>
                            <p>{{wine.crop_year}}</p><br>
                            <h2 class="is-size-5 title">Регион</h2>
                            <p>{{wine.region}}</p><br>
                            <h2 class="is-size-5 title">Вкус</h2>
                            <p>{{wine.taste}}</p><br>
                            <h2 class="is-size-5 title">Аромат</h2>
                            <p>{{wine.fragrance}}</p><br>
                        </div>
                        <div class="is-hidden" id="delivery-info">
                            <h3 class="is-size-5 title">Интересные факты</h3>
                            
                                {% for fact in wine_fun_facts %}
                                <li>
                                    {{fact}}
                                </li>
                                <br>
                                {% endfor %}                                 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="modal-js-example" class="modal">
        <div class="modal-background"></div>
      
        <div class="modal-content">
          <div class="box">
            <div class="block">
                <p> Вы действительно хотите удалить эту карточку?</p>
            </div>
            <div class="buttons">
                <a href="{% url 'wine_delete' wine.wine_id %}" class="button is-danger" >Да, удалить</a>
                <button class="button" onclick="closeWindow($('#modal-js-example'))"> Отмена </button>
            </div>
          </div>
        </div>
      
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
</div>

{% endblock %}