{% extends "base.html" %}
{% block content %}
<main>
  <section class="section">
    <div class="container">
      {% include "../components/message.html" with message=message %}

      <div class="has-text-centered">
        <h1 class="title is-1">Все вина</h1>
        <br>
        <nav class="breadcrumb is-centered is-medium" aria-label="breadcrumbs">
          <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'profile' %}">Профиль</a></li>
            <li class="is-active"><a href="#" aria-current="page">Все вина</a></li>
          </ul>
        </nav>
      </div>
      <br>

      {% for chunks in page_obj.object_list %}
      <div class="row columns is-multiline">
        {% for wine in chunks %}
        <div class="column is-4">
          <a href="{% url 'show_wine' wine.wine_id %}">
          <div class="card">
            <div class="card-content">
              <h4 class="title is-4 has-text-centered" style="height: 54px">{{wine}}</h4>
              <p>Полка: <b>{{wine.shelf_id}}</b></p>
              <br>
              <div class="buttons is-centered">
                <a href="{% url 'wine_edit' wine.wine_id%}" class="button is-warning">Редактировать</a>
                <a href="{% url 'wine_delete' wine.wine_id %}" class="button is-danger">Удалить</a>
              </div>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endfor %}

      {% include "../components/pagination.html" with page_obj=page_obj %}

    </div>
  </section>
</main>

{% endblock %}