{% extends "base.html" %}
{% block content %}

<div class="container">
    <section class="section">
        <div class="container is-fluid">

            {% include "../components/message.html" with message=message %}

            <div class="has-text-centered">
                <h1 class="title is-1">Все шкафы</h1>
                <br>
                <nav class="breadcrumb is-centered is-medium" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'profile' %}">Профиль</a></li>
                        <li class="is-active"><a href="#" aria-current="page">Все шкафы</a></li>
                    </ul>
                </nav>
            </div>
            <br>
            {% for chunks in page_obj.object_list %}
            <div class="row columns is-multiline">
                {% for cabinet in chunks %}
                <div class="column is-4">
                    <a href="{% url 'cabinet_show' cabinet.id %}">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="title is-4 has-text-centered" style="height: 30px">{{cabinet}}</h4>
                            <div class="buttons is-centered">
                                <a href="{% url 'cabinet_edit' cabinet.id %}" class="button is-warning">Редактировать</a>
                                <a href="{% url 'cabinet_delete' cabinet.id %}" class="button is-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

            {% include "../components/pagination.html" with page_obj=page_obj %}

        </div>
    </section>
</div>

{% endblock %}